.market-tools-table .table-responsive {
    overflow-x: auto;
  }
  
  .market-tools-table table {
    width: 100%;
    table-layout: fixed;
  }
  
  .market-tools-table a {
    color: #df0136;
    text-decoration: none;
  }
  
  .market-tools-table a:hover {
    text-decoration: underline;
  }
  